.works {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    &.left {
      left: 50px;
    }
    &.right {
      right: 50px;
    }
  }

  .slider {
    height: 400px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    .container {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .item {
        width: 70%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        .left {
          flex: 4;
          height: 100%;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .right {
          height: 100%;
          flex: 8;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
